<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cinerive.com/sites/default/files/styles/header_small/public/2023-11/Banni%C3%A8re%20Film.png?h=7b71c33d&itok=W2HjKQbi);">
  <div class="container text-center">
    <h1>Create a new list</h1>
  </div>
</div>

<div class="container mt-5">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :list_picture, label: "Url of your list's picture" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
