.banner {
	height: 300px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	position: relative;
}

.banner-content {
	position: relative;
	width: 100%;
}

.banner h1 {
	color: rgb(255, 255, 255);
	font-size: 42px;
	font-weight: 600;
}
