.movies-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
}

.movie-card {
	background: white;
	border-radius: 6px;
	box-shadow: 5px 5px 12px rgba(0,0,0,0.7);
	overflow: hidden;
}

.movie-img {
	object-fit: cover;
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.movie-content {
	padding: 16px;
	position: relative;
}

.movie-content h2 {
	font-size: 18px;
	font-weight: 600;
}

.rating {
	font-size: 14px;
	color: #f4b400;
	margin-left: 8px;
}

.movie-content p {
	font-size: 14px;
	color: #555;
	margin: 10px 0;
}

.comment {
	font-style: italic;
	font-size: 14px;
	margin-top: 10px;
}

.comment i {
	margin-right: 6px;
}

.delete-link {
	position: absolute;
	bottom: 10px;
	right: 15px;
	font-size: 12px;
	color: red;
	text-decoration: none;
}

.card-category {
  margin: 5px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.7);

}

.card-category a {
  text-decoration: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
