.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.7);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-item-right {
	margin-left: 8px
}

.navbar-nav a {
	text-decoration: none;
	color: rgb(255, 255, 255);
  margin: 10px
}
